<!doctype html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="node_modules/@fortawesome/fontawesome-free/css/all.min.css">
    <title>Vuejs Filter, Sort, Search and Pagination </title>

    <style>
        .sortable:hover{
            cursor: pointer;
            text-decoration: underline;
            color: #209ce3;
        }
    </style>

</head>
<body>

<div id="app" class="container p-4 ">

    <div class="card shadow-sm">
        <div class="card-footer">
            <h5>{{title}}</h5>
        </div>

        <div class="card-body p-0">
            <div class=" row p-3">
                <div class="col-3">
                    <label>Search</label>
                    <input v-model="search" v-on:keyup="searchPaging" type="text" class="form-control" id="search" placeholder="Search ... ">
                </div>
                <div class="col-3">
                    <label>Base</label>
                    <select v-on:change="baseSelect" class="form-select form-select-sm" aria-label=".form-select-sm example">
                        <option selected value="0">All</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </div>
                <div class="col-3">
                    <label>Class</label>
                    <select  v-on:change="classSelect" class="form-select form-select-sm" aria-label=".form-select-sm example">
                        <option selected value="0">All</option>
                        <option value="1">A</option>
                        <option value="2">B</option>
                        <option value="3">C</option>
                    </select>
                </div>
                <div class="col-3">
                    <label>Status</label>
                    <select  v-on:change="statusSelect" class="form-select form-select-sm" aria-label=".form-select-sm example">
                        <option selected value="0">All</option>
                        <option value="1">alpha</option>
                        <option value="2">beta</option>
                        <option value="3">gama</option>
                    </select>
                </div>
            </div>
            <table class="table table-sm table-striped">
                <thead>
                <tr>
                    <th>Row</th>
                    <th>
                        <div class="sortable" data-status="up" v-on:click='sort("name","string",$event)'>
                            <span class="fa fa-angle-up"></span>
                            <span>Name</span>
                        </div>
                    </th>
                    <th>
                        <div class="sortable" data-status="up" v-on:click='sort("family","string",$event)'>
                            <span class="fas fa-angle-up"></span>
                            <span>Family</span>
                        </div>
                    </th>
                    <th>
                        <div class="sortable" data-status="up" v-on:click='sort("base","number",$event)'>
                            <span class="fas fa-angle-up"></span>
                            <span>Base</span>
                        </div>
                    </th>
                    <th>
                        <div class="sortable" data-status="up" v-on:click='sort("class","string",$event)'>
                            <span class="fas fa-angle-up"></span>
                            <span>Class</span>
                        </div>
                    </th>
                    <th>
                        <div class="sortable" data-status="up" v-on:click='sort("status","string",$event)'>
                            <span class="fas fa-angle-up"></span>
                            <span>status</span>
                        </div>
                    </th>
                    <th>
                        <div class="sortable" data-status="up" v-on:click='sort(["country","name"],"string",$event)'>
                            <span class="fas fa-angle-up"></span>
                            <span>country</span>
                        </div>
                    </th>
                    <th>
                        <div class="sortable" data-status="up" v-on:click='sort(["country","population"],"number",$event)'>
                            <span class="fas fa-angle-up"></span>
                            <span>population</span>
                        </div>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(student,index) in filteredItems">
                    <td>
                        <input type="checkbox" v-bind:id="student.id" class="form-check-input" v-on:change="rowSelect" v-bind:checked="multiCheck(student.id)">
                        {{index+1+row_normalizer}}
                    </td>
                    <td>{{student.name}}</td>
                    <td>{{student.family}}</td>
                    <td>{{student.base}}</td>
                    <td>{{student.class}}</td>
                    <td>{{student.status}}</td>
                    <td>{{student.country.name}}</td>
                    <td>{{student.country.population}}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="card-footer">
            <pagination :records="itemCount" v-model="page" :per-page="count_per_page" @paginate="paginate"></pagination>
        </div>
        <span>selected checkboxes id : {{selectedRow}}</span>

    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<script src="node_modules/@fortawesome/fontawesome-free/js/all.min.js"></script>
<script src="node_modules/vue-pagination-2/dist/vue-pagination-2.min.js"></script>
<script>
    let app = new Vue({
        el: '#app',
        data: {
            page: 1,
            itemCount: 0,
            search: '',
            row_normalizer: 0,
            count_per_page: 10,
            selectedRow: [],

            base: 'All',
            class: 'All',
            status: 'All',
            title: 'Vuejs Filter, Sort, Search and Pagination',
            students: [

                {"id": 1,"name": null, "family": null, "base": null, "class": null, "status": null, country: {name:null, population: null}},
                {"id": 2,"name": null, "family": null, "base": null, "class": null, "status": null, country: {name:null, population: null}},
                {"id": 3,"name": null, "family": "jamez", "base": null, "class": null, "status": null, country: {name:null, population: null}},
                {"id": 4,"name": null, "family": "bernard", "base": null, "class": null, "status": null, country: {name:null, population: null}},
                {"id": 5,"name": "Alison", "family": null, "base": null, "class": null, "status": null, country: {name:null, population: null}},
                {"id": 6,"name": "alibard", "family": null, "base": null, "class": null, "status": null, country: {name:null, population: null}},
                {"id": 7,"name": "Riley", "family": "", "base": 0, "class": "", "status": "", country: {name:"", population: 0}},
                {"id": 8,"name": "مرتضی","family": "مرادی","base": 1,"class": "ب","status": "برحال", country: {name:"قم", population: 870000}},
                {"id": 9,"name": "Lucy", "family": "odriguez", "base": 1, "class": "C", "status": "gama", country: {name:"porteghal", population: 100}},
                {"id": 10,"name": "Nicole","family": "Martinez","base": 1,"class": "A","status": "alpha", country: {name:"gerpo", population: 80000000}},
                {"id": 11,"name": "Ramon", "family": "Hernandez", "base": 1, "class": "C", "status": "gama", country: {name:"azarbayjan", population: 80000000}},
                {"id": 12,"name": "Miles","family": "Lopez","base": 1,"class": "C","status": "beta", country: {name:"afghanistan", population: 70000000}},
                {"id": 13,"name": "Liam", "family": "Gonzalez", "base": 3, "class": "A", "status": "alpha", country: {name:"iran", population: 70000000}},
                {"id": 14,"name": "Nathaniel","family": "Wilson","base": 3,"class": "B","status": "gama", country: {name:"mekzik", population: 70000000}},
                {"id": 15,"name": "Ethan", "family": "Anderson", "base": 2, "class": "A", "status": "alpha", country: {name:"qom", population: 60000000}},
                {"id": 16,"name": "Lewis","family": "Thomas","base": 1,"class": "C","status": "gama", country: {name:"afghanistan", population: 66000000}},
                {"id": 17,"name": "Milton", "family": "Taylor", "base": 3, "class": "B", "status": "alpha", country: {name:"bafghanistan", population: 67000000}},
                {"id": 18,"name": "Angela","family": "Moore","base": 3,"class": "A","status": "beta", country: {name:"cafghanistan", population: 9000000}},
                {"id": 19,"name": "Joshua", "family": "Jackson", "base": 3, "class": "B", "status": "beta", country: {name:"dafghanistan", population: 50000000}},
                {"id": 20,"name": "Mila","family": "Martin","base": 2,"class": "B","status": "alpha", country: {name:"dfghanistan", population: 40000000}},
                {"id": 21,"name": "Harvey", "family": "Lee", "base": 3, "class": "B", "status": "alpha", country: {name:"efghanistan", population: 30000000}},
                {"id": 22,"name": "Gloria","family": "Perez","base": 1,"class": "B","status": "beta", country: {name:"ffghanistan", population: 20000000}},
                {"id": 23,"name": "Antonio", "family": "Thompson", "base": 1, "class": "A", "status": "alpha", country: {name:"gafghanistan", population: 10000000}},
                {"id": 24,"name": "Connor","family": "White","base": 1,"class": "C","status": "alpha", country: {name:"hafghanistan", population: 90000000}},
                {"id": 25,"name": "Phoebe", "family": "Harris", "base": 1, "class": "C", "status": "alpha", country: {name:"iafghanistan", population: 90000000}},
                {"id": 26,"name": "Aidan","family": "Sanchez","base": 1,"class": "C","status": "beta", country: {name:"jafghanistan", population: 70000000}},
                {"id": 27,"name": "Katelynn", "family": "Clark", "base": 3, "class": "B", "status": "beta", country: {name:"kafghanistan", population: 60000000}},
                {"id": 28,"name": "Conner","family": "Ramirez","base": 3,"class": "C","status": "gama", country: {name:"kafghanistan", population: 50000000}},
                {"id": 29,"name": "Rose","family": "Lewis","base": 3,"class": "C","status": "gama", country: {name:"mafghanistan", population: 40000000}},
                {"id": 30,"name": "Hunter","family": "Robinson","base": 3,"class": "C","status": "gama", country: {name:"nafghanistan", population: 30000000}}
                ],
        },
        computed: {
            filteredItems: function () {
                let items = this.students.filter(student => {
                    // console.log( student.base.indexOf(this.search) > -1);
                    return (
                        // search
                        // student.name.indexOf(this.search) > -1 ||
                        (( student.name === null) ? false : (student.name.toLowerCase().indexOf(this.search.toLowerCase()) > -1)) ||
                        // student.family.indexOf(this.search) > -1 ||
                        (( student.family === null) ? false : (student.family.toLowerCase().indexOf(this.search.toLowerCase()) > -1)) ||
                        // student.base.toString().indexOf(this.search) > -1 ||
                        (( student.base === null) ? false : (student.base.toString().toLowerCase().indexOf(this.search.toLowerCase()) > -1)) ||
                        // student.class.toLowerCase().indexOf(this.search.toLowerCase()) > -1 ||
                        (( student.class === null) ? false : (student.class.toLowerCase().indexOf(this.search.toLowerCase()) > -1)) ||
                        // student.status.toLowerCase().indexOf(this.search.toLowerCase()) > -1 ||
                        (( student.status === null) ? false : (student.status.toLowerCase().indexOf(this.search.toLowerCase()) > -1)) ||
                        // student.country.name.toLowerCase().indexOf(this.search.toLowerCase()) > -1 ||
                        (( student.country === null || student.country.name === null) ? false : (student.country.name.toLowerCase().indexOf(this.search.toLowerCase()) > -1)) ||
                        // student.country.population.toString().indexOf(this.search.toLowerCase()) > -1) &&
                        (( student.country === null || student.country.population === null) ? false : (student.country.population.toString().toLowerCase().indexOf(this.search.toLowerCase()) > -1)) )&&
                        (( this.base === "All" ) ? true : student.base == this.base) &&
                        (( this.class === "All" ) ? true : (( student.class === null) ? false :  student.class.toLowerCase() === this.class.toLowerCase())) &&
                        (( this.status === "All" ) ? true : (( student.status === null) ? false :  student.status.toLowerCase() === this.status.toLowerCase()));
                });
                let start =  (this.page - 1) * 10;
                let end = this.page * 10;
                this.itemCount = items.length;
                return items.slice(start,end);
            },

        },
        methods: {
            searchPaging: function(){
                this.page = 1;
            },

            baseSelect: function (event) {
                this.base = event.target.options[event.target.selectedIndex].text;
                this.page = 1;
            },

            classSelect: function (event) {
                this.class = event.target.options[event.target.selectedIndex].text;
                this.page = 1;
            },

            statusSelect: function (event) {
                this.status = event.target.options[event.target.selectedIndex].text;
                this.page = 1;
            },

            rowSelect: function(event){
                if(event.target.checked){
                    this.selectedRow.push(event.target.id);
                }
                else{
                    this.selectedRow = this.arrayRemove(this.selectedRow,event.target.id);
                }
            },

            multiCheck: function (id){
                return this.selectedRow.includes(id.toString());
            },

            arrayRemove: function (arr, value) {
                return arr.filter(function(ele){
                    return ele != value;
                });
            },

            sort: function (property,type,event){
                var status= event.currentTarget.getAttribute("data-status")

                if (type=='string'){
                    if (status=='up'){
                        this.sortStringAsc(property);
                        event.currentTarget.setAttribute("data-status","down")
                        event.currentTarget.children[0].classList.add('fa-angle-down')
                    }else{
                        this.sortStringDesc(property);
                        event.currentTarget.setAttribute("data-status","up")
                        event.currentTarget.children[0].classList.add('fa-angle-up')
                    }
                }
                if (type=='number'){
                    if (status=='up'){
                        this.sortNumberAsc(property)
                        event.currentTarget.setAttribute("data-status","down")
                        event.currentTarget.children[0].classList.add('fa-angle-down')
                    }else{
                        this.sortNumberDesc(property)
                        event.currentTarget.setAttribute("data-status","up")
                        event.currentTarget.children[0].classList.add('fa-angle-up')
                    }
                }
            },

            sortStringAsc: function (property) {
                console.log("sortStringAsc");
                this.students.sort((a,b)=> {
                    if(typeof a[property[0]] == 'object')
                        return (a[property[0]][property[1]] == null) ? -1 : ((b[property[0]][property[1]] == null) ? 1 : a[property[0]][property[1]].localeCompare(b[property[0]][property[1]]));
                    else
                        return (a[property] == null) ? -1 :  ((b[property] == null) ? 1 : a[property].localeCompare(b[property]));
                })
            },
            sortStringDesc: function (property) {
                console.log("sortStringDesc");
                this.students.sort((a,b)=> {
                    if(typeof a[property[0]] == 'object')
                        return (b[property[0]][property[1]] == null) ? -1 :  ((a[property[0]][property[1]] == null) ? 1 : b[property[0]][property[1]].localeCompare(a[property[0]][property[1]]));
                    else
                        return  (b[property] == null) ? -1 :  ((a[property] == null) ? 1 : b[property].localeCompare(a[property]));
                })
            },
            sortNumberAsc : function(property){
                this.students.sort((a,b) => {
                    if(typeof a[property[0]] == 'object')
                        return (a[property[0]][property[1]] == null) ? -1 : ((b[property[0]][property[1]] == null) ? 1 : a[property[0]][property[1]] - b[property[0]][property[1]]);
                    else
                        return (a[property] == null) ? -1 :  ((b[property] == null) ? 1 : a[property] - b[property]);
                });
            },
            sortNumberDesc : function(property){
                this.students.sort((a,b) => {
                    if(typeof a[property[0]] == 'object')
                        return  (b[property[0]][property[1]] == null) ? -1 :  ((a[property[0]][property[1]] == null) ? 1 : b[property[0]][property[1]] - a[property[0]][property[1]]);
                    else
                        return (b[property] == null) ? -1 :  ((a[property] == null) ? 1 : b[property] - a[property]);
                });
            },

            paginate: function(page) {
                this.row_normalizer = (page-1)*this.count_per_page

            }
        },
        components: {
            Pagination
        },
    })
</script>
</body>
</html>
